@tailwind base;
@tailwind components;
@tailwind utilities;

/* 隐藏滚动条，使界面更像移动应用 */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
